<nav class="flex flex-row items-center gap-2">
  <ul class="flex flex-row items-center gap-2">
    <li><%= link_to "Home", user_users_dashboard_path %></li>
    <li>
      <div><%= link_to "Episodes", user_users_episodes_path %></div>
    </li>
    <li>
      <div><%= link_to "Players", user_users_dashboard_path %></div>
    </li>
    <li>
      <div><%= link_to "Website", user_users_dashboard_path %></div>
    </li>
    <li>
      <div><%= link_to "Directories", user_users_directories_path %></div>
    </li>
    <li>
      <div><%= link_to "Monetization", user_users_dashboard_path %></div>
    </li>
    <li>
      <div><%= link_to "Stats", user_users_stats_path %></div>
    </li>
    <li>
      <div><%= link_to "Episodes", user_users_dashboard_path %></div>
    </li>
  </ul>
</nav>
