<%= render "layouts/shared/htmldoc" do %>
  <header class="flex flex-row items-center justify-between p-6">
    <div class="font-extrabold text-2xl">Podcast</div>
    <nav>
      <ul class="flex flex-row items-center gap-8">
        <li><%= link_to "Features", features_pages_path %></li>
        <li><%= link_to "Pricing", pricing_pages_path %></li>
        <li>How to Start a Podcast</li>
        <li><%= link_to "Blog", pricing_pages_path %></li>
      </ul>
    </nav>
    <div class="flex flex-row items-center gap-2">
      <% if Current.user %>
        <div><%= link_to "Logout", session_path,  data: { turbo_method: :delete }  %></div>
      <% else %>
        <div><%= link_to "Log In", new_session_path %></div>
        <div class="p-2 bg-black text-white rounded-lg">Get Started Free</div>
      <% end %>
    </div>
  </header>
  <%= yield %>
  <footer class="bg-green-50">
    <div class="container mx-auto py-8 md:py-16">
      <div class="grid grid-cols-3">
        <div>
          <div class="font-bold">Buzzsprout</div>
          <ul class="flex flex-col gap-2">
            <li><%= link_to "Features", features_pages_path %></li>
            <li><%= link_to "Subscriptions", subscriptions_pages_path %></li>
            <li>Mobile</li>
            <li><%= link_to "Pricing", pricing_pages_path %></li>
            <li><%= link_to "Customer Reviews", reviews_pages_path %></li>
            <li>Move to Buzzsprout</li>
            <li>Affiliate Program</li>
            <li>Sign Up</li>
            <li><%= link_to "Log In", new_session_path %></li>
          </ul>
        </div>
        <div>
          <div class="font-bold">Resources</div>
          <nav>
            <ul class="flex flex-col gap-2">
              <li>How to Start a Podcast</li>
              <li>Blog</li>
              <li>What's New</li>
              <li><%= link_to "Platform Stats", stats_pages_path %></li>
              <li>Wordpress Plugin</li>
              <li>Buzzsprout API</li>
              <li>Press Kit</li>
              <li>Help</li>
            </ul>
          </nav>
        </div>
        <div>
          <div class="font-bold">Legal</div>
          <div class="flex flex-col gap-2">
            <div>Privacy Policy</div>
            <div>Terms of Service</div>
            <div>DMCA</div>
          </div>
        </div>
      </div>
    </div>
  </footer>
<% end %>